@import '../../App.scss';
.search__result{
 cursor: pointer;
 position: relative;
 border: 0.5px solid #D6D6D6;
 border-radius: 12px;
 width: 100%;
 padding-top: 8px;
 padding-right: 8px;
 padding-left: 8px;
 padding-bottom: 8px;
 h5{
     font-family: InterMedium;
     font-size: 20px;
     font-weight: $font__weight--500;
     margin-top: 10px;
     letter-spacing: 0.25px;
     height: 50px;
     overflow: hidden;
     a{
         text-decoration: none;
         text-decoration-style: none;
         color: black;
     }
 }
//  .discount{
//      margin-top: 3px;
//      font-family: InterRegular;
//      font-size: 12px;
//      font-weight: normal;
//      color: #228751;
//  }
 p{
     margin-top: 1px;
     font-family: InterRegular;
     font-size: $subtitle--1S;
     color: #334788;
 }
 .swiper_slide_image{
     height: 200px;
     img{
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: center;
     }
 }

 .product__price{
     display: inline-block;
     
 }
 del{
    font-family: InterRegular;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.25px;
    color: #444444;
    margin-left: 4px;
 }
}
.product_-discount{
    font-family: InterRegular !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 150% !important;
    letter-spacing: 0.5px;
    color: #228751 !important;
}