@import '../../assets/sass/base/variables';

.basket__card{
    border: 1.5px solid #D6D6D6;
    width: 100%;
    padding: 30px 32px;
    margin-bottom: 32px;
    box-shadow: 0px 8px 10px rgba(119, 126, 148, 0.15), 0px 0px 10px rgba(119, 126, 148, 0.15);
    border-radius: 12px;
}

.basket_card_img{
    width: 156px;
    height: 156px;;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.baskert_card_header{
    font-family: 'NotoRegular';
    font-weight: $font__weight--500 !important;
    font-size: 25px;
    width: 100%;
}
 



.basket_card_firm{
    font-size: $subtitle--2S;
    padding-right: 6px;
    color: $text-secondary;
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}
.basket_card_selling{
    font-size: $subtitle--2S; 
    padding-left: 5px;
    color: $text-secondary;
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.basket_card_firm_height{
    height: 12px;
    width: 0.5px;
    background-color: $text-secondary;
    display: inline-block;
    position: relative;
    top: 1px;
}
.basket_card_checkboxdiv{
    margin-top: $margin--lg;
    font-size: $subtitle--2S;
    input{
        margin: 0 !important;
        padding: 0 !important;
        width: 20px;
    }
}
.basket__form__text{
    margin-left: 4px;
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #444444;
    letter-spacing: 0.25px;
}

.basket_order_details_head{
    letter-spacing: 0.25px;
    margin-top: 25px;
    font-size: $subtitle--1S;
    text-transform: uppercase;
    font-family: 'InterRegular';
    font-weight: 500;
    img{
        position: relative;
        top: -2px;
    }
}
.basket_order_details_text{
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.25px;
    color: $text-secondary;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    a{
        font-family: 'InterRegular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.4px;
        text-decoration-line: underline;
        color: #1A1A1A;
    }
}

.basket_card_shipping_section_head{
    letter-spacing: 0.25px;
    font-family: 'InterRegular';
    font-size: $subtitle--1S; 
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 500;
}

.basket_card_shipping_section_text{
    margin-top: 1px;
    font-size: $subtitle--2S;
    font-weight: normal;
    line-height: 170%;
}

.basket_price{
    &_head{
        font-size:$head--5;
    }
    .discount{
        margin-right: 2px;
        color: $text-success;
        font-size: $subtitle--2S;
        line-height: 170%;
        letter-spacing: 0.25px;
    }
    .oldPrice{
        font-weight: 500;
        font-size: $subtitle--2S;
        color: $text-secondary;
        line-height: 150%;
        text-decoration: line-through;
        margin-left: 5px;
        letter-spacing: 0.25px;
    }
}

.add_minus{
    display: flex;
    margin-top: 60px;
    .add_minus_button{
        width: 45px;
        height: 44px;
        margin-left: auto;
        background: #F1F1F1;
        border: 0;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .add_plus_button{
        width: 45px;
        height: 44px;
        background: #F1F1F1;
        border: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .add_minus_text{
        width: 45px;
        height: 44px;
        border: 0;
        background: #F1F1F1;
        display: inline-block;
    }
}
.basket_bottom_buttons{
    text-align: right;
     display: flex;
     justify-content: flex-end;
}
.price_div{
    text-align: right; 
}

.basket_bottom_button{
    padding: 11.5px 16px;
    background: #F1F1F1;
    border-radius: 6px;
    border: 0;
    margin-left: $margin--md;
    margin-top:$margin--sm ;
    text-transform: uppercase;
    font-family: 'InterMedium';
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket_bottom_button_img{
    width: 30px;
    height: 30px;
    margin-right: 4px;
   position: relative;
   top: 3px;
}

.accordion{
    cursor: pointer;
}

@media(max-width:900px){
    .basket__card{
        padding: 24px;
    } 
    
}

.card-flex{
    display: flex;
    flex-wrap: wrap;
}

.card_left{
    flex:1;
}
.card_center{
    flex:3;
    margin-left: 16px;
}
.card_right{
    flex: 2;
}

@media(max-width:560px){
    .basket_order_details_head{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.25px;
        text-transform: uppercase;
    }
    .basket__form__text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 170%;
        letter-spacing: 0.25px;
        color: $text-secondary;
    }
    .basket_card_shipping_section_head{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        color: #1A1A1A;
    }
    .basket_name_for_responsivity{
        margin-left: 5px;
        position: relative;
        top: -130px;
        left: 70px;
        width: 200px;
    }
    .basket_header_text{
        font-size: 12px !important; 
    }
   
    .basket__card{
        padding: 10px 12px;
        margin-bottom: 32px;
    }
    .card-flex{
        display: flex;
        flex-direction: column;
    }
    .basket_card_firm{
        font-size: 12px;
    }
    .basket_card_selling{
        font-size: 12px;
    }
    .infor_respon{
        margin-top: -60px;
    }
    .basket_price_head{
        font-style: normal;
        font-weight: 500;
        font-size: 25px !important;
        line-height: 150%;
        position: relative;
        top: 18px;
    }
    .basket_bottom_buttons{
        text-align: left;
        .basket_bottom_button{
            padding: 11px;
        }
    }
}

@media(max-width:570px){
    .price_div{
        text-align: start; 
    }
    .basket_price_head{
        display: block;
    }
    .add_minus{
        display: flex;
        margin-top: -40px;
        .add_minus_button{
            margin-left: auto;
     
     
        }
    }   
}

@media(max-width:560px){
    .basket__card{
        background: #FFFFFF;
        box-shadow: 0px 8px 10px rgba(119, 126, 148, 0.15), 0px 0px 10px rgba(119, 126, 148, 0.15);
        border-radius: 12px;
        padding: 12px;
    }
    .baskert_card_header{
        font-size: 14px;
        font-family: 'NotoBold';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5px;
        color: #1A1A1A;
        
    }
    .card-flex{
        display: flex;
       .card_left{
           order: 1;
       }
       .card_center{
        order: 3;
    }
    .card_right{
        order: 2;
        margin-top: 12px;
    }
    }
  
    .price_div{
        text-align: start; 
    }
    .basket_price{
        display: flex;
        justify-content: space-between;
        .basket_price_head{
            font-size: 16px;
        }
        .discount{
            font-size: 12px;
        }
        .oldPrice{
            font-size: 12px;
        }
    }
    .basket_price_head{
        position: relative;
        top: -2px;
        left: 12px;
    }
    .add_minus{
        position: relative;
        top: 35px;
    }
   
  
    .basket_card_img{
        width: 80px;
        height: 80px;;
    }

    
.basket_bottom_button{
    padding: 11.5px 15px;
}
.basket_bottom_buttons{
    text-align: center;
}
}

.basket_header_text{
    background: #EDEFFF;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 0;
    padding: 3.5px 7px;
    &:focus{
        outline: 0;
    }
    font-style: normal;
    font-weight: normal;
    font-weight: 'InterRegular';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #444444;
}

