@import '../../App.scss';

.txt__seller{

h1{

font-family: Inter;
font-weight: $font__weight--500;
font-size: $subtitle--L;
line-height: $line__height;  
margin-bottom:5px;

}
}

.box_1{

width: 418px;
height: 284px;
border: 1px solid #D6D6D6;
box-sizing: border-box;
border-radius: 8px;

.content{
    width: 386px;
    height: 252px;
    
    
    .content__img{

      .box__img{

        img{
         width: 104px;
        height: 104px;
        margin-right: 12px;
        margin-left:16px;
        margin-top:16px;
        
        }
    }
            .texture{
                margin-top:22px;
                
                .text_1{
                    margin-bottom: 13px;;
                    h2{
                        font-family: Inter;
                        font-weight: $font__weight--500;
                        font-size: $subtitle--1S;
                        line-height: $line__height;
                        letter-spacing: 0.25px;
                        text-transform: uppercase;
                    }
                } 
                   }
                }                 
            
       
        .line{
           
            justify-content: space-between;
            margin-top:24px;
            
            img{
                margin-left: 16px;
            }
              
        .line__right{
            
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: -10px;
            img{
                width: 14px;
                height: 7px;  
                margin-top:7px;
                margin-left:4px;
            
                }
                h3{ 
                    font-family: Inter;
                    font-weight: $font__weight--500;
                    font-size: $subtitle--1S;
                    line-height: $line__height;
                    letter-spacing: $letter__spacing;
                    text-transform: uppercase;
                }    
        
                
            }
        }
         
           
        .border__hr{
            border-bottom: 0.5px solid #CCCCCC;
            margin-left: 16px;
            margin-top: 16px;
            margin-right: -10px;
        
        }
        .bottom__line{
            justify-content: space-between;
            margin-top:24px;
            img{
                margin-left: 16px;
                
                }
                .shop_click{
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-right: -10px;
                   
                    img{
                        margin-top:7px;
                        margin-left:4px;
                    }
                }
               
               
            }
        }
}


