.display__block{
    display: block;
}
.display__inline-block{
    display: inline-block;
}
.display__flex{
    display: flex;
}
.display__inline-flex{
    display: inline-flex;
}
.display__grid{
    display: grid;
}
.display__none{
    display: none;
}
.display__inline{
    display: inline;
}
.display__initial{
    display: initial;
}