.position__absolute{
    position: absolute;
}

.position__relative{
    position: relative;
}

.position__fixed{
    position: fixed;
}

.position__sticky{
    position: sticky;
}

.position__inherit{
    position: inherit;
}

.position__initial{
    position: initial;
}





