// background colors 
$bg: ("primary": "#6472B8", "primary--light": "#929DD2", "primary--dark": "#354388","white":"#ffffff");

// text colors 
$text: ("light": "#fff", "dark": "#1A1A1A", "secondary": "#444444","tertiary":"#767676","error":"#E0322C","success":"#348E39");


// Gray scale
$gray: ("main": "#CCCCCC", "light": "#F1F1F1", "dark": "#808080");

// Chips colors
$chips: ("orange": "#FFFAE7", "red": "#FFEDED");


// Border radius sizes
$border__radius: ("big": "8px", "medium": "6px","small": "4px");

// Border  sizes
$border: ("bold":"1.5px","medium":"1px","light":"0.5px")

