@import '../../assets//sass/base/variables';
@import '../../assets/sass/abstracts/borders';

.badge{
 display: flex;
 justify-content: center;
 align-items: center;
 width: max-content;
 color: $text-tertiary;
 padding: 6px 12px;
 background-color: $white;
 color: $text-dark;
 font-family:$text__font;
 font-size: 16px;
 border-radius: 8px;
 img{
  margin-right: 6px;
 }
}

.badge-active{
 background-color: #EDEFFF;
 border: 1px solid $primary--light;
 color: $text-dark;
}
.badge-done{
 background-color: $primary--dark;
 color: $white;
}