@import '../../assets/sass/abstracts/display';


.rating{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16.0015px;
line-height: 150%;
letter-spacing: 0.15px;
color: #767676;
margin-left: 4px;
margin-right: 6px;
margin-top: 12px;

  
    

}
.star{
    margin-bottom: 22.4px;
}
.right-line{
  

margin-right:4.06px;
}

.heart{
   
    margin-right:4px;
}
.store{
    position: static;
width: 31px;
height: 24px;


/* Body 1 */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16.0015px;
line-height: 150%;
/* identical to box height, or 24px */

letter-spacing: 0.15px;

/* Text / Tertiary */

color: #767676;
}