.creditCard{
    background: #FFFFFF;
    border: 1.5px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px 12px
}

.form_button_multiple{
    height: 56px;
    background: #6472B8;
    border-radius: 8px;
    width: 100%;
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;

}