
@import '../../App.scss';

.deliver__info__section{
    width: 95%;
    .deliver__info__title{
        border-bottom: 1px solid black;
        width: 15%;
        margin-bottom: 14px;
        h4{
            font-size: $subtitle--L;
            font-family: $text__font;
            font-weight: $font__weight--500;
            margin-bottom: 0;
        }
    }
    .deliver__info__content__section{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        .deliver__info__content{
            p{
                font-size: $subtitle--2S;
                font-family: $text__font;
                font-weight: $font__weight--normal;
                margin-bottom: 5px;
                color: #1A1A1A;
            }
            ul{
                list-style: none;
                font-size: $subtitle--1S;
                font-family: $text__font;
                font-weight: $font__weight--normal;
                color: #444444;
            }
        }
    }
}