@import '../../App.scss';

.icons__delivery__safety__payback__section{
    margin-top: 41px;
    .delivery__icon{
        margin-bottom: 31px;
        img{
            float: left;
            padding-right: 12px;
            margin-bottom: 15px;
        }
        h4{
            font-size: $subtitle--1S;
            font-family: InterMedium;
            font-weight: $font__weight--500;
            letter-spacing: 0.25px;
            text-transform: uppercase;
            margin-bottom: 1px;
            color: #1A1A1A;
        }
        p{
            font-size: $subtitle--2S;
            font-family: InterRegular;
            font-weight: $font__weight--normal;
            letter-spacing: 0.15px;
            color: #444444;
        }
    }
    .payback__icon{
        margin-bottom: 31px;
        img{
            float: left;
            padding-right: 12px;
            margin-bottom: 20px;
        }
        h4{
            font-size: $subtitle--1S;
            font-family: InterMedium;
            font-weight: $font__weight--500;
            letter-spacing: 0.25px;
            text-transform: uppercase;
            margin-bottom: 1px;
            color: #1A1A1A;
        }
        p{
            font-size: $subtitle--2S;
            font-family: InterRegular;
            font-weight: $font__weight--normal;
            letter-spacing: 0.15px;
            color: #444444;
            span{
                font-size: $subtitle--2S;
                font-family: InterRegular;
                font-weight: $font__weight--normal;
                letter-spacing: 0.15px;
                color: #444444;
                border-bottom: 1px solid black;
            }
        }
    }
    .safety__icon{
        margin-bottom: 31px;
            img{
                float: left;
                padding-right: 12px;
                margin-bottom: 15px;
            }
            h4{
                font-size: $subtitle--1S;
                font-family: InterMedium;
                font-weight: $font__weight--500;
                letter-spacing: 0.25px;
                text-transform: uppercase;
                margin-bottom: 1px;
                color: #1A1A1A;
            }
            p{
                font-size: $subtitle--2S;
                font-family: InterRegular;
                font-weight: $font__weight--normal;
                color: #444444;
                letter-spacing: 0.15px;
            }
    }
}