.about_paragraph{
 .p-red{
  color: red;
 }
 h1,h2,h3{
  color: #1a1a1a;
  font-family: InterRegular;
 }
 p{
  margin-bottom: 50px;
  font-family: InterRegular;
  color:#1a1a1a;
 }
}
.pd-left{
 padding-left: 0px;
 padding-top: 0px;
}