@font-face {
  font-family: 'NotoBold';
  src: url("../../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoBoldItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoRegular';
  src: url("../../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'InterMedium';
  src: url("../../fonts/Inter/static/Inter-Medium-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterBold';
  src: url("../../fonts/Inter/static/Inter-Bold-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterRegular';
  src: url("../../fonts/Inter/static/Inter-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.bg-primary {
  background-color: #6472B8;
}

.bg-primary--light {
  background-color: #929DD2;
}

.bg-primary--dark {
  background-color: #354388;
}

.bg-white {
  background-color: #ffffff;
}

.display__block {
  display: block;
}

.display__inline-block {
  display: inline-block;
}

.display__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display__inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.display__grid {
  display: -ms-grid;
  display: grid;
}

.display__none {
  display: none;
}

.display__inline {
  display: inline;
}

.display__initial {
  display: initial;
}

@font-face {
  font-family: 'NotoBold';
  src: url("../../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoBoldItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoRegular';
  src: url("../../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'InterMedium';
  src: url("../../fonts/Inter/static/Inter-Medium-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterBold';
  src: url("../../fonts/Inter/static/Inter-Bold-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterRegular';
  src: url("../../fonts/Inter/static/Inter-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.txt--center {
  text-align: center;
}

.txt--left {
  text-align: left;
}

.txt--right {
  text-align: right;
}

.txt--jstfy {
  text-align: justify;
}

.txt--start {
  text-align: start;
}

.txt--end {
  text-align: end;
}

.txt--dashed {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.txt--dotted {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.txt--double {
  -webkit-text-decoration: double;
          text-decoration: double;
}

.txt--through {
  text-decoration: line-through;
}

.txt--overline {
  text-decoration: overline;
}

.txt--underline {
  text-decoration: underline;
}

.txt--wavy {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}

.txt--solid {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.txt--distribute {
  text-justify: distribute;
}

.txt--distribute-all {
  text-justify: distribute-all-lines;
}

.txt--inter-cluster {
  text-justify: inter-cluster;
}

.txt--inter-ideograph {
  text-justify: inter-ideograph;
}

.txt--inter-word {
  text-justify: inter-word;
}

.txt--kashida {
  text-justify: kashida;
}

.txt--newspaper {
  text-justify: newspaper;
}

.txt--clip {
  text-overflow: clip;
}

.txt--ellipsis {
  text-overflow: ellipsis;
}

.txt--decoration--light {
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.txt--decoration--dark {
  -webkit-text-decoration-color: #1A1A1A;
          text-decoration-color: #1A1A1A;
}

.txt--decoration--secondary {
  -webkit-text-decoration-color: #444444;
          text-decoration-color: #444444;
}

.txt--decoration--tertiary {
  -webkit-text-decoration-color: #767676;
          text-decoration-color: #767676;
}

.txt--decoration--error {
  -webkit-text-decoration-color: #E0322C;
          text-decoration-color: #E0322C;
}

.txt--decoration--success {
  -webkit-text-decoration-color: #348E39;
          text-decoration-color: #348E39;
}

.txt--light {
  color: #fff;
}

.txt--dark {
  color: #1A1A1A;
}

.txt--secondary {
  color: #444444;
}

.txt--tertiary {
  color: #767676;
}

.txt--error {
  color: #E0322C;
}

.txt--success {
  color: #348E39;
}

.txt--lovercase {
  text-transform: lowercase;
}

.txt--uppercase {
  text-transform: uppercase;
}

.txt--capitalize {
  text-transform: capitalize;
}

@font-face {
  font-family: 'NotoBold';
  src: url("../../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoBoldItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoRegular';
  src: url("../../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'InterMedium';
  src: url("../../fonts/Inter/static/Inter-Medium-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterBold';
  src: url("../../fonts/Inter/static/Inter-Bold-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterRegular';
  src: url("../../fonts/Inter/static/Inter-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 360px) {
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.row {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1 {
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* XS area start  */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

/* XS area end */
/* SM area start  */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

/* SM area end  */
/* MD area start  */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

/* MD area end  */
/* LG area start  */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

/* LG area end  */
@font-face {
  font-family: 'NotoBold';
  src: url("../../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoBoldItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoItalic';
  src: url("../../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoRegular';
  src: url("../../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'InterMedium';
  src: url("../../fonts/Inter/static/Inter-Medium-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterBold';
  src: url("../../fonts/Inter/static/Inter-Bold-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: 'InterRegular';
  src: url("../../fonts/Inter/static/Inter-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

footer {
  background-color: #f1f1f1;
}

footer .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h1,
footer p {
  text-align: center;
}

footer h1 {
  font-size: 39px;
  font-style: normal;
  margin-top: 48px;
  color: #1a1a1a;
  font-weight: 500px;
  letter-spacing: 0.15px;
  font-family: NotoRegular;
}

footer p {
  margin-top: 16px;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  font-family: InterRegular;
  width: 860px;
  letter-spacing: 0.5px;
}

footer a {
  font-size: 18px;
  color: #334788;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: InterRegular;
  margin: 32px 0px 48px 0px;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0px 48px 0px;
}

footer .links .link-curior a {
  padding-right: 16px;
}

footer .links .link-store a {
  padding-left: 16px;
}

.footer-rectangle {
  background-color: #c4c4c4;
  height: 160px;
}

@media screen and (max-width: 767px) {
  footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .links .link-curior a {
    padding-right: 0px;
  }
  footer .links .link-store a {
    padding-left: 5px;
    padding-top: 10px;
  }
  footer h1 {
    font-size: 37px;
  }
  footer p {
    font-size: 14px;
  }
  footer a {
    font-family: 16px;
  }
}
/*# sourceMappingURL=footer.styles.css.map */