@import "../../App.scss";


footer{
  .all__footer{
    height: 400px;
    background: #334788;
      .footer_category{
        display: flex;
        justify-content: space-around;
        padding-top: 76px;

        .footer_items{
          h4{
            font-family: InterRegular;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.25px;
            color: #FFFFFF;
            padding-bottom: 20px;
          }
          ul{
            display: flex;
            flex-direction: column;
              a{
                text-decoration: none;
                font-family: InterRegular;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 180%;
                letter-spacing: 0.25px;
                color: #FFFFFF;
                word-break: break-word;
              }
          }
          
        }
      }
.copy_write{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  p{
    font-family: InterRegular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
  }
}
  }
}

@media (max-width:630px){
      footer{
          .all__footer{
            height: auto;
              .footer_category{
                  display: flex;
                  flex-direction: column;
                  .footer_items{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    h4{
                      font-family: InterRegular;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 15px;
                      line-height: 150%;
                      letter-spacing: 0.25px;
                      color: #FFFFFF;
                      padding-bottom: 20px;
                    }
                    ul{
                      display: flex;
                      flex-direction: column;
                        a{
                          text-decoration: none;
                          font-family: InterRegular;
                          font-style: normal;
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 180%;
                          letter-spacing: 0.25px;
                          color: #FFFFFF;
                          word-break: break-word;
                          text-align: end;
                        }
                    }
                  }
              }
        }
    }
}