@import '../../App.scss';
.checkout_header{
    display: flex;
    justify-content: space-around;
}
.badge_href{
    width: 100%;
    border: 0.5px solid #767676;
    height: 0;
    position: relative;
    top: 23px;
}

.checkout_bottomcardtext{
    margin-top: 30px;
    h5{
        font-family: 'InterRegular';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.25px;
        color: #1A1A1A;
    }
}

    .fullpageselect select{
        width: 100% !important;
        height: 50px !important;
        border: 1px solid #444444;
    }