.file-upload-input,input[type='file']{
 width: 197px;
height: 197px;
background: url('../../assets/images/icons/addfile.svg') no-repeat center;
border-radius: 12px;
border-style: none;
outline: transparent;
 input[type=file]{
  opacity: 0;
 }
}
.product-img,.product-img>img{
 width: 197px;
 height: 197px;
}